*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(217, 54%, 11%);
    color: white;
    font-family: 'Outfit', sans-serif;
}

.body_wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    position: relative;
    border-radius: 10px;
    background-color: hsl(216, 50%, 16%);
    width: 350px;
    padding: 2rem 0;
    margin: auto;
}

.card_img img{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    width: 90%;
}

.card_img div{
    position: absolute;
    height: 320px;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(178, 100%, 50%, 50%);
    margin: 0 auto;
    width: 90%;
    border-radius: 10px;
    z-index: 999;
    opacity: 0;
}

.card_img div:active{
    opacity: 1;
}

.card_img div img{
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.card h1{
    padding: 16px 18px ;
    text-align: left;
    font-size: 1.3rem;
}

.card h1:active{
    color: hsl(178, 100%, 50%);
}

.card p{
    color: hsl(215, 51%, 70%);
    padding: 0 18px;
    text-align: left;
    font-size: 1rem;
    font-weight: lighter;
}

.eth_container{
    margin: 20px;
}

.eth_container .eth{
    position: relative;
    left: 2px;
    top: 4px;
    margin-right: 5px;
    display: inline-block;
    text-align: left;
}

.eth_container h5{
    display: inline-block;
    color: hsl(178, 100%, 50%);
}

.eth_container .clock{
    margin-top: 0.2rem;
    text-align: right;
    display: inline-block;
    position: absolute;
    right: 6rem;
}


.card_day {
    text-align: right;
    display: inline-block;
    position: absolute;
    right: 2px;
}

.card hr{
    margin: 1rem auto ;
    text-align: center;
    width: 90%;
    border-color: hsl(215, 32%, 27%);
    border-right: none;
    border-top: none;
    border-left: none;
}

.footer img{
    display: inline-block;
    position: relative;
    left: 1rem;
    width: 10%;
    outline: white;
    border-radius: 50%;
    border: 2px solid white;
}

.footer p{
    left: 0.3rem;
    bottom: 0.8rem;
    position: relative;
    display: inline-block;
}

.footer p span{
    color: white;
}

.footer p span:active{
    color: hsl(178, 100%, 50%);
}

.attribution{
    display: flex;
    justify-content: center;
    align-items: center;
}